@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-[#1a1a1a] text-white font-['Madimi_One'];
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}